<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zipper.transport.mapper.TransportMapper">
    <insert id="insert" parameterType="org.zipper.transport.pojo.entity.Transport" useGeneratedKeys="true"
            keyProperty="id">
        insert into tb_transport(name, source, target, rule_id, config, metadata, create_time, update_time, status)
        VALUES (#{t.name}, #{t.source}, #{t.target}, #{t.ruleId}, #{t.config}, #{t.metadata}, now(), now(), 0)
    </insert>

    <select id="select" parameterType="org.zipper.transport.pojo.dto.TransportQueryParams"
            resultType="org.zipper.transport.pojo.vo.TransportVO">
        select id, name, create_time, update_time
        from tb_transport
        where status = 0
        <if test="p.name !=null and p.name !=''">
            and name like CONCAT('%',#{p.name},'%')
        </if>
    </select>

    <select id="selectById" resultType="org.zipper.transport.pojo.entity.Transport">
        select *
        from tb_transport
        where status = 0
          and id = #{id}
    </select>

    <update id="update" parameterType="org.zipper.transport.pojo.entity.Transport">
        update tb_transport set update_time = now()
        <if test="t.name !=null and t.name!=''">
            , name = #{t.name}
        </if>
        <if test="t.source!=null and t.source!=''">
            , source = #{t.source}
        </if>
        <if test="t.target !=null and t.target!=''">
            , target = #{t.target}
        </if>
        <if test="t.ruleId !=null">
            , rule_id = #{t.ruleId}
        </if>
        <if test="t.config !=null and t.config!=''">
            , config = #{t.config}
        </if>
        <if test="t.metadata !=null and t.metadata!=''">
            , metadata = #{t.metadata}
        </if>
        where id = #{t.id}
    </update>
</mapper>